@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header{
	background: rgba(0, 0, 0, 0.5); 
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;
	text-shadow: 2px 2px 4px #000000;
}

header {
	position: fixed;
}

header .brand{
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

header .navigation{
	position: relative;
}

header .navigation .navigation-items a{
	position: relative;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	margin-left: 30px;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
	content: '';
	position: absolute;
	background: #fff;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	transition: 0.3 ease;
}

header .navigation .navigation-items a:hover:before{
	width: 100%;
}

section{
	padding: 100px 200px;
}

.Home{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: #222;
	text-shadow: 2px 2px 4px #000000;
}

.Home .content{
	z-index: 888;
	color: #fff;
	width: 70%;
	margin-top: 50px;
}


.Home .content h1{
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 75px;
	margin-bottom: 40px;
}

.Home .content h1 span{
	font-size: 1.2em;
	font-weight: 600;
}

.Home .content p{
	margin-bottom: 65px;
}

.Home .content a{
	background: rgba(0, 0, 0, 0.5); 
	padding: 15px 35px;
	color: #fff;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	border-radius: 2px;
	transition: 0.7s ease;
}

.Home .content a:hover{
	background: #222C44;
	color: #fff;
	transition: 1s ease;
	font-weight: 1000;
	text-shadow: 2px 2px 4px #000000;
}

.home img{
	z-index: 000;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home:before{
	z-index: 777;
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, 0.5); 
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}




	

@media (max-width: 1040px){
	header{
	    padding: 12px 20px;
	}
	
	section{
		 padding: 100px 20px;
    }
	

	header .navigation{
		display: none;
	}
	
	header .navigation.active{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(1,0,0,0.3);
	}

    header .navigation .navigation-items{
        background: #fff;
		width: 600px;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
	    display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 5px;
		box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    	
    header .navigation .navigation-items a{
        color: #000;
        font-size: 1.2em;
        margin: 20px;
    }
	
	header .navigation .navigation-items a:before{
        background: #000;
		height: 5px;
    }
		
	.menu-btn{
		background: url(https://github.com/YanaSav/Climate-Change/assets/115935576/04fddecc-dc0b-47ca-8a72-ed85b983d370.png)no-repeat;
		background-size: 30px;
		background-position: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease;
	} 
	
	.menu-btn.active{
		z-index: 999;
		background: url(https://github.com/YanaSav/Climate-Change/assets/115935576/ddc0f40a-de82-4f8c-87d8-70e62ee67534.jpg)no-repeat;
		background-size: 25px;
		background-position: center;
		transition: 0.5 ease;
	}
	
}
