@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; 
	background: linear-gradient(to right, #003300 0%, #ccffcc 100%);
}
	
header{
	background: rgba(0, 0, 0, 0.5); 
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: 0.5s ease;
}

header {
	position: fixed;
}

header .brand{
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}

header .navigation{
	position: relative;
}

header .navigation .navigation-items a{
	position: relative;
	color: #fff;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	margin-left: 30px;
	transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
	content: '';
	position: absolute;
	background: #8DA258;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	transition: 0.3 ease;
}

header .navigation .navigation-items a:hover:before{
	width: 100%;
}

@media (max-width: 1040px){
	header{
	    padding: 12px 20px;
	}
	
	section{
		 padding: 100px 20px;
    }
	

	header .navigation{
		display: none;
	}
	
	header .navigation.active{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(1,0,0,0.3);
	}

    header .navigation .navigation-items{
        background: #8DA258;
		width: 600px;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
	    display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 5px;
		box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    	
    header .navigation .navigation-items a{
        color: #000;
        font-size: 1.2em;
        margin: 20px;
    }
	
	header .navigation .navigation-items a:before{
        background: #000;
		height: 5px;
    }
		
	.menu-btn{
		background: url(https://github.com/YanaSav/Climate-Change/assets/115935576/04fddecc-dc0b-47ca-8a72-ed85b983d370.png)no-repeat;
		background-size: 30px;
		background-position: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: 0.3s ease;
	} 
	
	.menu-btn.active{
		z-index: 999;
		background: url(https://github.com/YanaSav/Climate-Change/assets/115935576/ddc0f40a-de82-4f8c-87d8-70e62ee67534.jpg)no-repeat;
		background-size: 25px;
		background-position: center;
		transition: 0.5 ease;
	}
	
	.manual-btn{
	border: 2px solid #8DA258;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
	align-items: center;
}

 
	
}

img{
	float: left;
	max-width: 320px;
	border: 3px solid #fff;
	border-radius: 10px;
	margin-right: 15px;
}

body{
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.howtohelp {
	background: rgba(0,0,0,0.5);
	margin-left: 50px;
	margin-right: 50px;
	margin: 150px auto;
	width: 70%;
    transition: 1s ease;
}

.hth-list1{
	color: #fff;
	margin-top: 1250px;
	margin-bottom: 100px;
}

.hth-list1 h2{
	font-size: 35px;
}

.hth-list1 h1{
	font-size: 55px;
}

.hth-list1 p {
	font-size: 16px;
}


